# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.tmp

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# User-specific files
*.vscode

# JetBrains Rider
.idea/
*.sln.iml

# Windows shortcuts
*.lnk
